//
// Header
//

header {
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.sidebar {
  padding-left: $content-margin-top;
}

.site-title {
  margin-bottom: 1em;

  a {
    color: #fff;
  }
}

.single-work-info {
  margin-top: $content-margin-top;

  h3 {
    margin: 0 0 1em;
  }
}

.menu {
  [class*="current"] {
    a {
      color: #fff;
    }
  }
}
