//
// Main
//

.wrapper {
  @extend %clearfix;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding-top: $content-margin-top;

  .home & {
    background: linear-gradient(to right, $body-color, transparent);
  }
}

.content {
  width: 80%;
  margin-left: 20%;
  padding-bottom: 40px;
}

.entry-content {
  max-width: 520px;
  margin-top: $content-margin-top;
}

.single {
  .post {
    margin-top: $content-margin-top;
  }
}

.page-images {
  .page {
    margin-top: $content-margin-top;

    img {
      max-height: 160px;
      margin: 0 12px 12px 0;
      transition: opacity 0.4s;
      transform: translate3d(0,0,0);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

$indent-size: 4em;

.page-cv {
  .entry-content {
    max-width: none;

    & > ul > li {
      margin-left: 4em;
      text-indent: -4em;
    }
  }

  ul, li {
    list-style: none;
  }

  ul {
    padding: 0;

    b, strong {
      font-weight: 300;
      min-width: $indent-size;
      display: inline-block;
      float: left;
    }
  }

  ul > li > ul {
    padding-left: $indent-size;
    margin-bottom: 1em;
  }

}

//
// Lightbox
//

.lightbox-open {
  position: fixed;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.lightbox-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
  padding: 20px;
  text-align: center;
}

.lightbox-inner {
  display: inline-block;
}

.lightbox-image-wrapper {
  display: none;
  opacity: 0;

  &.active {
    display: block;
  }
}

.lightbox-image {
  cursor: pointer;
}

.lightbox-work-info {
  text-align: left;
  margin-top: 1em;

  .title {
    color: #fff;
  }
}

.lightbox-next,
.lightbox-previous {
  position: fixed;
  top: 0;
  height: 100%;
  width: 80px;
  cursor: pointer;
}

.lightbox-next {
  right: 0;
}

.lightbox-previous {
  left: 0;
}
