//
// Main
//

.wrapper {
  @extend %clearfix;
}

header {
  width: 20%;
  max-width: 300px;
  height: 100%;
  min-height: 100vh;
  float: left;
  padding-top: $content-margin-top;

  .home & {
    background: $body-color;
  }
}

.content {
  width: 80%;
  padding-bottom: 3em;
  padding-right: 3em;
  float: left;

  .home & {
    min-height: 100vh;
    position: relative;
  }
}

.entry-content {
  max-width: 520px;
  margin-top: $content-margin-top;
}

.single {
  .post {
    margin-top: $content-margin-top;
  }
}

.page-images {
  .page {
    margin-top: $content-margin-top;

    img {
      max-height: 160px;
      margin: 0 12px 12px 0;
      transition: opacity 0.4s;
      transform: translate3d(0,0,0);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.permalink {
  margin-top: 1em;
  display: inline-block;
}

$indent-size: 4em;

.page-cv {
  .entry-content {
    max-width: none;

    & > ul > li {
      margin-left: 4em;
      text-indent: -4em;
    }
  }

  ul, li {
    list-style: none;
  }

  ul {
    padding: 0;

    b, strong {
      font-weight: 300;
      min-width: $indent-size;
      display: inline-block;
      float: left;
    }
  }

  ul > li > ul {
    padding-left: $indent-size;
    margin-bottom: 1em;
  }

}

//
// Lightbox
//

.lightbox-open {
  position: fixed;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  user-select: none;

  div {
    height: 100%;
  }
}

.lightbox-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3em;
  text-align: center;
}

.lightbox-inner {
  // display: inline-block;
}

.lightbox-image-wrapper {
  @extend %clearfix;
  display: none;
  // opacity: 0;

  &.active {
    display: block;
  }
}

.lightbox-image-inner-wrapper {
  width: calc(100% - 160px);
  float: left;
  padding-bottom: 3em;
}

.lightbox-image {
  cursor: pointer;
  max-height: 100%;
}

.lightbox-work-info {
  width: calc(160px - 3em);
  height: auto !important;
  text-align: left;
  margin-right: 3em;
  float: left;
  z-index: 1;
  position: relative;

  div {
    height: auto;
  }

  .title {
    color: #fff;
  }
}

.lightbox-next,
.lightbox-previous {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  cursor: pointer;

  &:hover {
    &:before {
      color: #fff;
    }
  }

  &:before {
    position: absolute;
    bottom: 3em;
    transition: color $tt;
  }
}

.lightbox-next {
  right: 0;
  cursor: e-resize;

  &:before {
    content: "Next";
    right: 3em;
  }
}

.lightbox-previous {
  left: 0;
  cursor: w-resize;

  &:before {
    content: "Previous";
    left: 3em;
  }
}
