//
// Main
//

.wrapper {
  @extend %clearfix;
}

header {
  width: 20%;
  max-width: 300px;
  height: 100%;
  min-height: 100vh;
  float: left;
  padding-top: $content-margin-top;

  .home & {
    background: $body-color;
  }
}

.content {
  width: 80%;
  padding-bottom: 3em;
  padding-right: 3em;
  float: left;

  .home & {
    min-height: 100vh;
    position: relative;
  }
}

.entry-content {
  max-width: 520px;
  margin-top: $content-margin-top;
}

.single {
  .post {
    margin-top: $content-margin-top;

    img {
      max-height: 800px;
    }
  }
}

.page-images {
  .page {
    margin-top: $content-margin-top;

    img {
      max-height: 160px;
      margin: 0 12px 12px 0;
      transition: opacity 0.4s;
      transform: translate3d(0,0,0);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.permalink {
  margin-top: 1em;
  display: inline-block;
}

$indent-size: 4em;

.page-cv {
  .entry-content {
    max-width: none;

    & > ul > li {
      margin-left: 4em;
      text-indent: -4em;
    }
  }

  ul, li {
    list-style: none;
  }

  ul {
    padding: 0;

    b, strong {
      font-weight: 300;
      min-width: $indent-size;
      display: inline-block;
      float: left;
    }
  }

  ul > li > ul {
    padding-left: $indent-size;
    margin-bottom: 1em;
  }

}
