//
// Variables
//

// Typography
$akz-roman: "Akzidenz Grotesk Roman", sans-serif;
$akz-black: "Akzidenz Grotesk Black", sans-serif;
$sans: 'Open Sans', sans-serif;

// Font sizes
$small: 14px;
$regular: 16px;
$large: 24px;

// Colors
$gray: #A0A0A0;
$gray-medium: #606060;
$gray-dark: #1D2021;

// Color assignments
$body-color: $gray-dark;

// Sizes
$min-wrapper-width: 1000px;
$content-margin-top: 3em;

// Transitions
$tt: 0.6s;

// Easing
$easing: cubic-bezier(0.215, 0.61, 0.355, 1);
